// 大枠
.container{
  width: 1000px;
  min-height: 100vh;
  margin: 8vmin auto 10vmin auto ;
  font-family: serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}

// 検索ボタン
.search-form{
  margin-bottom: 4vmin;
  transform: scale(1.5, 1.5);
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  padding: 1px 8px;
  font-family: serif;
  width: 50vmin;
  border-right: none;
  border-radius: 2rem 0 0 2rem;
}
.search-input:focus{
  outline: none;
}
.search-btn{
  padding: 4px;
  width: 6vmin;
  box-sizing: border-box;
  border-radius: 0 2rem 2rem 0;
  background-color: #003366;
  color: white;
  cursor: pointer;
}

//「技一覧表示に戻る」ボタン
.back-btn{
  height: 10vmin;
  margin-bottom: 2vmin;
  display: flex;
  align-items: center;
}
.back:hover{
  color: #2c91f7;
  transition: all 0.2s;
}
.back{
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

//キャラクターネーム
.character-name{
  height: 12vmin;
  margin-bottom: 1vmin;
  font-size: 12vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

//技表
.moves-data{
  width: 97%;
  margin: 0 auto;
  table-layout: auto; //セルの幅を調整するプロパティ、widthの指定が必要、auto=内容に合わせ自動調整、fixed＝等間隔やカスタマイズできる
  font-size: 1rem;
  border-collapse: collapse; //要素同士が重なる場合のborderを調整。重ねる＝collapse/離す＝separate
  word-break: break-all; //英字を含む文字列の改行を可能にしてフレキシブルにする
  word-wrap: break-all; //英字を含む文字列の改行を可能にしてフレキシブルにする
}
.moves-data th{
  height: 7vmin;
  border: 1px solid gray;
  vertical-align: middle; //セル内の文字位置を調節 *インライン要素とセルにのみ適用可能
  color: white;
  background-color: #003366;
}
.moves-data td{
  height: 5vmin;
  border: 1px solid gray;
  vertical-align: middle; //セル内の文字位置を調節 *インライン要素とセルにのみ適用可能
  padding-left: 1vmin;
}
.name-link{
  color: black;
  text-decoration: none;
}
.moves-info:hover{  //技一覧のtr
  background-color: rgb(252, 168, 186);
  transform: scale(1.03, 1.1);
  transition: all 0.1s;
}
.moves-data td:nth-of-type(1){  //列ごとにスタイルを指定、（○）で左から○番目の列を指定。
  table-layout: fixed;
  min-width: 40%;
}
.moves-data td:nth-of-type(4){
  table-layout: fixed;
  width: 8vmin;
  min-width: 7vmin;
  padding: 0;
  text-align: center;
}
.moves-data td:nth-of-type(5){
  table-layout: fixed;
  width: 8vmin;
  min-width: 7vmin;
  padding: 0;
  text-align: center;
}

// ページトップに戻るボタン
#page_top{
  width: 5vw;
  height: 7vh;
  margin: 0 1vh 11vh 0;
  position: fixed; //絶対位置で固定指定。
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border: 3px solid #004285;
  border-radius: 1rem;
}
#page_top a{
  position: relative;
  display: block;
  width: 5vw;
  height: 6vh;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #272b2e;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 12px;
  color: #272b2e;
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}

//width 1132px以下
@media screen and (max-width: 1130px){
  .container{
    position: relative;
  }
  .page_top{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


// スマホ画面へのレスポンシブ
@media screen and (max-width: 1000px){
  .container{
    width: 100%;
  }
  .moves-data{
    font-size: smaller;
  }
  th.damage{
    display: none;
  }
  td.damage{
    display: none;
  }
}


// width800px以下で表が醜くなるのでレスポンシブ対応
@media screen and (max-width: 500px){
  .moves-data{
    font-size: x-small;
  }
  .moves-data td{
    padding: 0.5vmin;
  }
}