* {
 background: rgba(255,255,255,0.3);  
}

.moves-main{
  height: 100%;
  width: 100%;
  padding: 10vmin 30px 30px 30px;
  background-color: lightgray;
  // background:rgba(255,255,255,0.3) 背景画像を挿入する場合
}

.character-name{
  width: 100vw;
  height: 15vh;
  background-color: aliceblue;
}

.character-name h1{
  font-size: 60px;
  font-family: serif;
  background-color: whitesmoke;
}

.category{
  width: 100%;
  color:black;
  background-color: white;
}

table th{
  padding: 10px;
  border: 1px solid gray;
  color: white;
  background-color: #003366;
  // background:rgba(255,255,255,0.3) 背景画像を挿入する場合
}

table td{
  padding: 10px;
  border: 1px solid gray;
  .name-link{
    text-decoration: none;
    color: black;
  }
}