// 大枠
.moves-container{
  width: 1000px;
  height: auto;
  margin: 12vmin auto;
  display: flex;
  flex-direction: column;
  font-family: 'Shippori Mincho B1', serif;
}

// 検索ボタン
.search-form{
  width: 100%;
  height: auto;
  margin: 7vmin 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  width: 60%;
  height: 5vmin;
  padding: 0 0 0 2vmin; //placeholderの位置調整
  font-family: 'Shippori Mincho B1', serif;
  font-size: 2vmin;
  border-radius: 4vmin 0 0 4vmin;
  border: 1px solid black;
  border-width: 1px 0 1px 1px;
}
.search-input:focus{ //検索フォーム入力時のGoogle側の既存のアウトライン（青）を消す
  outline: none;
}
.search-btn{
  width: 10%;
  height: 5vmin;
  padding: 0;
  border-radius: 0 4vmin 4vmin 0;
  background-color: #103f6d;
  color: #faf8f1;
  font-size: 0;
  text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.5);
  cursor: pointer;
  border: 1px solid black;
  box-sizing: content-box;
  box-shadow:
    inset 0 2px 0 rgba(252, 252, 252, 0.3),
    inset -2px 0 0 rgba(0, 0, 0, 0.3);
  // border-style: none; //初期設定のボーダーをなくせる
}
.search-btn::before{
  font-family: "Font Awesome 5 Free";
  content: '\f002';
  font-weight: 900;
  font-size: 3vmin;
}
.search-btn:active{ 
  box-shadow:  //クリック時に凹む
    inset 0 -2px 0 rgba(252, 252, 252, 0.3),
    inset 2px 0 0 rgba(0, 0, 0, 0.3);
}

//「技一覧表示に戻る」ボタン
.back-btn{
  margin: 0 2vmin 8vmin 2vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.back:hover{
  color: #2c91f7;
  transition: all 0.2s;
}
.back{
  font-size: 3vmin;
  text-shadow: 1px 1px 1px rgba(27, 77, 134, 0.5);
  text-decoration: none;
  color: black;
}

//キャラクターネーム
.character-name{
  height: auto;
  margin-bottom: 3vmin;
  font-size: 10vmin;
  color: black;
  text-shadow: 1px 1px 1px rgba(27, 77, 134, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // ruby-position: under; ルビの配置を決める
}
.character-name rt{
  margin-bottom: .3em;
	transform: translateY(-.3em);
  font-size: 3vmin;
  text-align: center;
}

//技表
.moves-data{
  width: 97%;
  margin: 0 auto;
  table-layout: auto; //セルの幅を調整するプロパティ、widthの指定が必要、auto=内容に合わせ自動調整、fixed＝等間隔やカスタマイズできる
  font-size: 2vmin;
  font-weight: bold;
  border-collapse: collapse; //要素同士が重なる場合のborderを調整。重ねる＝collapse/離す＝separate
  word-break: break-all; //英字を含む文字列の改行を可能にしてフレキシブルにする
  // word-wrap: break-all; //英字を含む文字列の改行を可能にしてフレキシブルにする
}
.moves-category{
  width: 100%;
}
.moves-data th,
.moves-data td{
  vertical-align: middle; //セル内の文字位置を調節 *インライン要素とセルにのみ適用可能
}
.moves-data th{
  height: 8vmin;
  color: #faf8f1;
  border: 1px solid #faf8f1;
  background-color: #103f6d;
  transform: scale(1.02);
  position: sticky; //表のカテゴリーを固定
  top: 0;
  &::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
  }
}
.moves-data td{
  height: 6vmin;
  border-bottom: 1px solid gray;
}
// .move-links1{  全tdをlink_toで行をリンク化する実装バージョンのCSS
//   display: flex;
//   align-items: center;
//   height: 100%;
//   width: auto;
//   padding: 0 0.5vmin;
//   color: black;
//   text-decoration: none;
// }
// .move-links2{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   width: auto;
//   padding: 0 0.5vmin;
//   color: black;
//   text-decoration: none;
// }
.moves-contents{
  width: 100%;
}
.moves-contents:hover{  //技一覧のtr
  background-image: linear-gradient(to left, #faf8f1 1%, #ffdd81);
}
.moves-data td:nth-of-type(1){  //列ごとにスタイルを指定、（○）で左から○番目の列を指定。
  table-layout: fixed;
  min-width: 30%;
}
.moves-data td:nth-of-type(4),
.moves-data td:nth-of-type(5){
  table-layout: fixed;
  min-width: 8vmin;
  text-align: center;
}



// スマホ画面へのレスポンシブ
@media screen and (max-width: 1000px){
  // 大枠
  .moves-container{
    width: 100%;
  }

  // 技表
  .moves-data{
    font-size: smaller;
  }
  th.hitbox,
  td.hitbox{
    display: none;
  }
  .moves-data th{
    border-width: 1px 0 1px 0;
    transform: scale(1.01);
  }
  .moves-data td{
    padding: 0.1vmin;
  }
  .moves-data td:nth-of-type(4),
  .moves-data td:nth-of-type(5){
    table-layout: auto;
    min-width:  10vmin;
    text-align: center;
  }
}


// width500px以下で表が醜くなるのでレスポンシブ対応
@media screen and (max-width: 500px){
  // 技表
  .moves-data{
    font-size: x-small;
  }

}