.header{
  width: 100%;
  height: 12vmin;
  background-color: #103f6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_btn{
  height: 50%;
  width: 95%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  font-family: serif;
  text-decoration: none;
  color: white;
  font-size: 5vmin;
  text-shadow: 1px 2px 1px #01162c,
        1px 3px 1px #01162c,
        1px 4px 1px #01162c,
        1px 5px 1px #01162c,
        1px 6px 1px #01162c;
  transition: all 1s;
}
.home_btn:hover{
  transition: all 0.2s;
  text-shadow: 1px 1px 5px #01162c, 
        1px 2px 6px #01162c,
        1px 3px 7px #01162c,
        1px 4px 8px #01162c,
        1px 5px 9px #01162c,
        1px 6px 10px #01162c,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}