.header{
  width: 100%;
  height: 10vmin;
  background-color: #003366;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}