<%= form_with(url: search_character_moves_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "技を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<%=link_to "技一覧に戻る", character_moves_path %>

<ul>
  <% @moves.each do |move| %>
    <li> "moves_name"</li>
  <% end %>
</ul>