<div class = "main">
  <%= render "shared/header" %>

  <div class="main-content">

    <div>
      <div class = "select-character">
        <div class = "contents-name">キャラクター選択</div>
          <div class = "characters">
            <ul>
              <% @characters.each do |character| %>
                <li class = "character-list"><%= link_to character.name, character_moves_path(character), class:"character" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class = "basic-operation">
        <div class = "contents-name">基本操作知識</div>
      </div>

      <div class = "comments">
        <div class = "contents-name">コメント</div>
      </div>
    </div>
    
  </div>

  <%= render "shared/footer" %>

</div>
