<div class = "main">
  <%= render "shared/header" %>

  <div class="title-contents">
    <%= image_tag("logo_tekken7.png") %>
  </div>

  <div class="main-contents">

    <div class = "select-character">
      <div class = "contents-name">
        キャラクター選択
      </div>
      <%= render "characters"%>
    </div>

    <div class="basic-operation">
      <div class="contents-name">
        基本操作知識
      </div>
    </div>

    <div class="comments">
      <div class="contents-name">
        コメント
      </div>
    </div>

  </div>

  <%= render "shared/footer"%>
</div>
