// タイトルコンテント
.title-wrapper{
  display: block;
  width: 100%;
  height: 90vmin;
  margin-bottom: 2vmin;
  background-color: rgb(2, 2, 2);
  background-image: url('tekken_title.jpeg');
  overflow: hidden;
}
.title-img{
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height:100%;
  margin: 0 auto;
  animation: 
    // title-words 3s ease-in-out forwards,
    title-img 1.5s ease-in-out forwards; //画像や要素を拡大縮小するアニメーション、forwards(100%)＝最大拡大位置で止まる、infinity=拡大縮小を繰り返す
  opacity: 0;
}
// @keyframes title-words {
//   100% { content: "Let's involve the world, with your Iron Fist.";}
//   100% { color: white;}
//   100% { transform: scale(1.2)}
//   100% { opacity: 1.0;}
// }
@keyframes title-img {
  100% { transform: scale(1.1)}
  100% { opacity: 1.0;}
}
// .title_img::before{
//   content: "Let's involve the world, with your Iron Fist.";
//   width: fit-content;
//   color: white;
//   animation: title-img-before 3s ease-in-out forwards; //画像や要素を拡大縮小するアニメーション、forwards(100%)＝最大拡大位置で止まる、infinity=拡大縮小を繰り返す
// }

// コンテンツ大枠
.top-container{
  width: 1000px;
  height: auto;
  margin: 0 auto 10vmin auto ;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: serif;
}

// 各コンテンツの共通項目
.contents{
  width: 100%;
  height: auto;
  margin: 2vmin auto;
}
.contents-title{
  width: 50%;
  padding-left:  1vmin;
  margin-bottom: 2vmin;
  font-size: 5vmin;
  border-bottom: 2px double black;
  font-style: oblique;
}

// キャラクター選択
.all-characters-btn{
  width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}
.each-character-btn{
  display: inline-block;
  width: 32%;
  height: 12vmin;
  margin: 0.6vmin;
  // border-bottom: 0.7vmin solid #ccdae7;
  // border-right: 0.7vmin solid #c4e0fc;
  box-sizing: border-box;
  border-radius: 2vmin 0 2vmin 0;
  box-shadow: 1px 1px 1px #2b384460,
              2px 2px 1px #2b384460,
              3px 3px 1px #2b384460,
              4px 4px 1px #2b384460;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #2d5180 0%,
    #2d5180 50%,
    #bdbdbd 50%,
    #bdbdbd 100%
    );
  transition: all 0.2s;
}
.each-character-btn:hover{
  box-shadow: none;
  text-shadow: none;
  color: white;
  background-position: 0 0;
  // box-shadow: -1px -1px 2px #2b384460,
  //             -2px -2px 2px #2b384460,
  //             -3px -3px 2px #2b384460,
  //             -4px -4px 2px #2b384460;
}
.each-character-name{
  padding: 4.5vmin; //ボタン内のキャラの名前を中央に配置。本当はmargin:auto;などでレスポンシブかつ正確に配置すべきだができないので妥協。
  font-size: 3vmin; //ゆくゆくは画像に置き換える？かもなんで、臨時処置。
}

// 基礎操作知識
.basic-data{
  height: 10vmin;
}


// コメント
.all-comments{
  height: 10vmin;
}



// スマホ画面レスポンシブ
@media screen and (max-width: 1000px){
  .top-container{
    width: 100%;
  }

  // キャラクター選択
  .contents-title{
    margin-left: 1vmin;
  }
  .each-character-btn{
    width: 46%;
  }
}